@import "tailwindcss";

.navbar {
  z-index: 10;
  top: 0;
  left: 0;
  background-color: black;
  position: fixed;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 18pt;
  height: 3rem;
}

.navbar ul li {
  margin: auto;
}

.navbar ul li button {
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  transition: border-color 0.3s;
}

.highlight {
  position: relative;
  display: inline-block;
}

.highlight::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.6em;
  height: 0.4em;
  background-color: var(--neon-color);
  z-index: -1;
  width: 100%;

  transition: height 0.3s ease;
}

.highlight:hover::after {
  height: 60%;
  bottom: 0.5em;
}

.logo-box {
  width: 80px;
  height: 80px;
  border: 6px solid white;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #ffffff;
  font-size: 1.8em;
  overflow: visible;
}

.logo-box .atom {
  position: absolute;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: orbit 2s linear infinite;
  z-index: 1;
}

@keyframes orbit {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(38px) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(38px)
      rotate(-360deg);
  }
}
