@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

.navbar {
  z-index: 10;
  top: 0;
  left: 0;
  background-color: black;
  position: fixed;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 18pt;
}

.navbar ul li {
  margin: auto;
}

.navbar ul li a {
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  transition: border-color 0.3s;
}

.highlight {
  position: relative;
  display: inline-block;
}

.highlight::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.6em;
  height: 0.4em;
  background-color: var(--neon-color);
  z-index: -1;
  width: 100%;

  transition: height 0.3s ease;
}

.highlight:hover::after {
  height: 60%;
  bottom: 0.5em;
}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 5px solid var(--neon-color);
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #ffffff;
  }

.logo-box sub {
    font-size: 1rem;
    vertical-align: sub;
  }