@import "tailwindcss";

.navbar {
  z-index: 10;
  top: 0;
  left: 0;
  background-color: black;
  position: fixed;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 18pt;
}

.navbar ul li {
  margin: auto;
}

.navbar ul li a {
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  transition: border-color 0.3s;
}

.highlight {
  position: relative;
  display: inline-block;
}

.highlight::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.6em;
  height: 0.4em;
  background-color: var(--neon-color);
  z-index: -1;
  width: 100%;

  transition: height 0.3s ease;
}

.highlight:hover::after {
  height: 60%;
  bottom: 0.5em;
}

.logo-box {
  width: 70px;
  height: 70px;
  border: 5px solid var(--neon-color);
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* needed for the sub positioning */
  color: #ffffff;
  font-size: 2rem;
}



