@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

.navbar {
  z-index: 10;
  top: 0;
  left: 0;
  background-color: black;
  position: fixed;
  font-family: "Helvetica", "Arial", sans-serif;
}

.navbar ul li {
  margin: auto;
}

.navbar ul li a {
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  transition: border-color 0.3s;
}

.navbar ul li a:hover,
.navbar ul li a:focus {
  border-bottom: 2px solid var(--neon-color);
}

.gradient {
  background: linear-gradient(
    0deg,
    rgba(255, 0, 255, 0) 0%,
    rgba(255, 0, 255, 0) 16%,
    rgb(255, 0, 255, 1) 16%,
    rgba(255, 0, 255, 1) 41%,
    rgba(255, 0, 255, 0) 41%
  );
}

.padding {
  padding: 0 0.5em 0 0.1em;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
